body {
    background-color: gray;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

form {
    display: inline-block;
    text-align: center;
    }

.form {
	text-align: center;
    }

/* resize images */
.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

ul, li {position:relative; text-align: center;}

#menu:hover {position:relative; text-align: center; color: red;}
