/* general */

body {
    background-color: gray;
}

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.center {
    text-align:center;
}


/* forms */

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

form {
    display: inline-block;
    text-align: left;
}

.form {
    width: 250px;
    clear: both;
    margin: 0 auto;
}

input.form, textarea {
    width: 100%;
    clear: both;
}

.pilt img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

table {
    width: 100%;
    table-layout:fixed;
    padding-left: 10px; 
}

th, tr, td {
    width: 100%;
    table-layout:fixed;
}

td.nimetus {
    width: 25%;
    word-wrap:break-word;
    padding-right: 20px;
}
td.kirjeldus {

    word-wrap:break-word;
}
td.hind {
    width: 15%;
    word-wrap:break-word;
}
td.pilt {
    width: 200px;
}
td.id {
    width: 15%;
    word-wrap:break-word;
}
td.tehniline{
    width: 0%;
}
td.linnuke {
    width: 10%;
    word-wrap:break-word;
}

.tableblob {
    border-radius: 30px 0px 30px 0px;
    background: darkgray;
    margin: 5px;
    padding: 20px;
}


/* menu */

#menu {
    margin:auto;
}

#menu ul{
    position:relative;
    text-align: center;
    list-style: none;
    margin:20px;
    padding:0px;
}
#menu li {
    display: inline-block;
}
#menu a {
    display: inline-block;
    padding:5px 15px;
    color:black;
    text-decoration: none;
}
#menu a:hover, #menu li:hover {
    background: darkgray;
}


/* sticky footer: http://mystrd.at/modern-clean-css-sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}